<h2 class="pb-4">Charts</h2>
    <div class= "container mx-5">  
        <h2>tipos de Usuarios Registrados</h2>
        <%= pie_chart @user_role %>

        <h2>Cantidad de alumnos por curso</h2>
        <%= bar_chart @course_users %>

    </div>