
.btn {
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    color: rgb(99, 51, 153);
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    background-color: rgb(106, 192, 241);
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 0.8em;
}
a{
    
    color: rgb(68, 47, 158);
}
.navbar{
    width: 100%;
    display: block;
    padding: 14px 16px;
    background: transparent;
    outline: none;
    border: 0;
    letter-spacing: 0.1em;
    font-weight: bold;
    font-family: monospace;
    background-color: rgb(106, 192, 241);
    padding: 5px 10px;

    font-size:0.8em;
}

h2 {
    
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display:inline-block; 
    color: rebeccapurple;
    font-weight: bold;
    font-family: monospace;
}
body {
    font-family: 'monospace';
    text-decoration-color: black;
    background: linear-gradient(to right, #faf6e3de, #f9faf900);
    display: flex;
    margin: 0;
    
}

th {
    font-family: monospace;
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    
}

tr {
    font-family: monospace;
    
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    margin-left: auto
}

div{
    border-radius: 15px;
}

